# ==========================================
# Flutter/Dart
# ==========================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
lib/generated_plugin_registrant.dart

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# ==========================================
# Android
# ==========================================
/android/app/debug
/android/app/profile
/android/app/release

# ==========================================
# iOS & macOS
# ==========================================
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
/ios/.symlinks/
/ios/Pods/
/ios/Runner.xcworkspace/xcuserdata
/macos/Flutter/ephemeral
/macos/Pods/

# ==========================================
# Web
# ==========================================
.dart_tool/dartpad/
web/base/

# ==========================================
# Windows & Linux
# ==========================================
**/.generated/

# ==========================================
# IDEs & OS Files
# ==========================================
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# ==========================================
# Variáveis de Ambiente / Senhas
# ==========================================
.env
.env*
*.keystore
*.jks